

body
{

color:black;
font-size:15px;
font-family:sans-serif;
}
body > div{
  position:absolute;
	top:100px;
	border-top-style:ridge;
	border-bottom-style:ridge;
	border-width:1px;	
}
#recommend-route{
	position:absolute;
	top:250px;
	
}
#map_canvas{
position:absolute;
top:100px;
left:30%;
width:60%;
padding:5px;
margin:5px;
height:70%;
border-width:1px;
border-style:solid;
}
